@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
    --background: #16161eb3;
    --foreground: #a9b1d6;
    --black: #414868;
    --red: #f7768e;
    --green: #9ece6a;
    --yellow: #e0af68;
    --blue: #7aa2f7;
    --magenta: #bb9af7;
    --cyan: #7dcfff;
    --white: #a9b1d6;
    --bright-black: #1a1b26;
    --bright-red: #db4b4b;
    --bright-green: #73daca;
    --bright-yellow: #ff9e64;
    --bright-blue: #2ac3de;
    --bright-magenta: #ff007c;
    --bright-cyan: #89ddff;
    --bright-white: #c0caf5;
}

body {
  color: var(--bright-white);
  font-family: "Segoe UI", ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background-color: var(--background);
  user-select: none;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
  padding-top: 2px; /* Somehow this is needed to make it look right (equal) on my laptop screen*/
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.date,
.weather,
.network,
.memory,
.cpu,
.media {
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  /* background-color: var(--black);
  color: transparent;
  color: rgb(255 255 255 / 90%);
  margin-right: 7px;
  padding: 1px 5px;
  border: none;
  border-radius: 16px;
  cursor: pointer;

  &.displayed {
    background: var(--bright-black);
  }

  &.focused,
  &:hover {
    background: var(--blue);
  } */

  background: rgb(255 255 255 / 5%);
  margin-right: 4px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: rgb(75 115 255 / 50%);
  }
}

.binding-mode,
.tiling-direction {
  background: var(--bright-black);
  color: var(--bright-white);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  margin: 0 7px;
  cursor: pointer;

  &:hover {
    background: var(--black);
  }
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: var(--bright-red);
}

/* ICONS */
i {
  margin-right: 6px;
}

.logo {
  color: var(--blue);
}

.workspaces i {
  margin-right: 0px;
  position: relative;
  top: -1px;
}

.date i {
  margin-bottom: 2px;
  color: var(--yellow);
}
.time i {
  color: var(--magenta);
}

.network i {
  color: var(--yellow);
}
.network i {
  margin: 0;
}

.media {
  padding-top: 1px;
  max-height: 29px; /* Hard-code to grow only to the app class, 100% doesn't work? */
}

.media i {
  color: var(--green);
}

.weather i {
  color: var(--cyan);
  font-size: 16px;
  position: relative;
  top: 1px;
}

.cpu i {
  color: var(--red);
}

.memory i {
  color: var(--blue);
}

.battery i {
  color: var(--green);
}