[user]
	email = baorng@gmail.com
	name = baorng
[init]
	defaultBranch = main

{{ if eq .chezmoi.os "windows" -}}
[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[core]
	sshCommand = ssh.exe
{{   end -}}
{{ end -}}
